---
layout: default
---

<p>
Hi, I'm Alari and I'm based in London. I am originally from Estonia. In the last 20 years, I've lived in Paris, Brussels, Zurich, and NYC before arriving in London 3 years ago. I have a background in general and art history, but I currently work in the music industry as an executive assistant with a strategic focus on redeveloping our company's data strategy and architecture.</p>
<p>
My most recent project involves the update of our tech stack with interconnected CRM and project management tools and the creation of new data-driven standard operating procedures and manuals. I started a data analytics course for this project and now looking to continue with a deep dive into using ML/AI for data analytics.</p>
<p>In terms of personal interests, I like baking while keeping active and making sure I eat 30 different plants per week to keep a healthy gut biome. In general, I enjoy learning new things and trying new things.</p>
